body{
    background: #1e1c1c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
    color: aliceblue;
}

form{
    border-radius: 5px;
    border-color: aliceblue;
}
.form{
    background: #386f70;
    border: #b9a2a2;
}

label{
    
    margin-right: 120px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    justify-items: center;

}